/*index.php*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --rosita: #eebbc3;
    --rosita-hover: #e69aa6;
    --azul-claro: #d4d8f0;
    --azul: #b8c1ec;
    --gris: #232946;
    --gris-oscuro: #121629;
}

body {
    margin: 0px;
}

#index-nav {
    padding: 10px 0;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 1vw;
}

#index-nav > form {
    padding: 0 20px;
}

#index-header {
    background-color: var(--azul);
    width: 100%;
    height: 100vh;
}

#header-title {
    margin: 16vh auto;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
*/

#header-title > h1 {
    font-size: 7vw;
    color: var(--gris-oscuro);
    margin: 0;
    margin-bottom: 40px;
}

#header-title > a {
    color: var(--gris-oscuro);
    width: fit-content;
    padding: 10px 20px;
    border: 3px solid var(--gris-oscuro);
    background-color: var(--rosita);
    text-decoration: none;
    border-radius: 15px;
    font-size: xx-large;
    transition: background-color .3s linear;
}

#header-title > a:hover {
    background-color: var(--rosita-hover);
    transition: background-color .3s linear;
}

#header-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18vh auto;
    color: var(--gris-oscuro);
}

#header-scroll > svg {
    animation-name: arrow-movement;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes arrow-movement {
    from {margin-top: 0px;}
    to {margin-top: 10px;}
}

.how-to-play {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rosita);
}


section.how-to-play > h1 {
    font-size: 3vw;
    color: var(--gris-oscuro);
    margin: 0;
    margin-bottom: 40px;
    margin-top: 0;
}

.primera-instruccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to-play p { text-align: center; }

.how-to-play img {
    margin-top: 40px;
    width: 700px;
    height: 300px;
}

.how-to-play a {
    background-color: var(--azul-claro);
    text-decoration: none;
    color: var(--gris-oscuro);
    padding: 15px 25px;
    border-radius: 15px;
    border: 3px solid var(--gris-oscuro);
    transition: background-color .3s;
}

.how-to-play a:hover {
    background-color: var(--azul);
    transition: background-color .3s;
}

.main-slider {
    position: relative;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.slider {
    scroll-snap-align: start;
}



.hidden-question {
    display: none
}

.question-container {
    height: 100vh;
    width: 100%;
}

.question-container h1 {
    width: 100%;
    text-align: center;
}

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.answer-container button {
    height: 80px;
    margin: 5px;
}

.answer-container button:nth-child(1) {
    border-radius: 16px 0 0 0 ;
}

.answer-container button:nth-child(2) {
    border-radius: 0 16px 0 0 ;
}

.answer-container button:nth-child(3) {
    border-radius: 0 0 0 16px ;
}

.answer-container button:nth-child(4) {
    border-radius: 0 0 16px 0 ;
}